body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
  monospace;
}

.board {
  margin: 30px auto;
  display: flex;
  flex-flow: row;
  border: 1px solid #bbb;
  box-shadow: 0 0 5px #bbb;
  width: 930px;
  height: 235px;
  max-width: 100%;
  resize: both;
  overflow-x: auto;

  border-radius: 20px;
}

.rows {
  flex: 7;
  display: flex;
  flex-direction: column;
}

.big-pit {
  flex: 1;
  border-radius: 40px;
}

.row {
  flex: 1;
  display: flex;

  &.player-1 {
    flex-direction: row-reverse;
  }
}

.big-pit, .pit {
  margin: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, .15);
  box-shadow: inset 0 0 2px rgba(0, 0, 0, .5);
  cursor: default;

  p {
    cursor: inherit;
  }

  p::selection {
    background: transparent;
  }
}

.pit {
  flex: 1;
  border-radius: 40%;

  &:hover:not([data-disabled="true"]) {
    box-shadow: inset 0 0 22px rgba(0, 0, 0, .5);
    background: #61dafb;
    color: #23282d;
  }
}

[data-player="1"] .row.player-1 .pit,
[data-player="0"] .row.player-0 .pit {
  cursor: pointer;
}

[data-player="1"].winner,
[data-player="1"] .status,
.big-pit.player-1, .player-1 .pit {
  color: green;
}

[data-player="0"].winner,
[data-player="0"] .status,
.big-pit.player-0, .player-0 .pit {
  color: #0074D9;
}

.pit[data-disabled="true"] {
  cursor: not-allowed;
}

button {
  cursor: pointer;
  padding: 7px 13px;
  border: 1px solid #ccc;
  border-radius: 3px;
  color: #555;
  background: #f7f7f7;
  box-shadow: inset 0 1px 0 #fff, 0 1px 0 rgba(0, 0, 0, 0.08);

  &:hover {
    background: #fafafa;
    color: #23282d;
  }
}